@import "../../../../public/css/colors.less";

.uiEquipment {
	display: none;
	z-index: 3;
	border: 5px solid @blackB;
	text-align: center;
	width: 620px;

	> .heading {
		color: @blueA;
		width: 100%;
		height: 36px;
		background-color: @blackB;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.content {
		width: 100%;
		height: calc(100% - 36px);
		background-color: @blackC;
		display: flex;
		flex-direction: column;

		.tabs {
			width: 100%;
			height: 40px;
			padding: 8px 8px 0px 8px;

			.tab {
				cursor: pointer;
				background-color: @blackB;
				color: @white;
				margin-right: 8px;
				float: left;
				height: 100%;
				padding-top: 8px;
				padding-left: 8px;
				padding-right: 8px;
				width: calc((100% - 24px) / 4);

				&:hover {
					background-color: @blackA;
				}

				&.selected {
					background-color: @blackA;
					color: @blueA;
				}

				&:last-child {
					margin-right: 0px;
				}

			}

		}

		.main {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			position: relative;
			padding: 8px;
			gap: 8px;

			.top {
				display: flex;
				flex-direction: row;
				flex: 1;

				.left,
				.right {
					gap: 8px;
					display: flex;
					flex-direction: column;
					background-color: @blackD;
				}

				.middle {
					display: flex;
					flex-direction: column;
					flex: 1;
					align-items: center;

					.stats {
						flex: 1;
						gap: 8px;
						display: flex;
						flex-direction: column;
						width: 100%;
						padding: 0px 24px;
						justify-content: center;
						align-items: center;

						.elemental-group {
							display: flex;
							flex-direction: column;
							gap: 8px;
							width: 100%;

							.elemental-heading {
								color: @white;
							}

							.elemental-row {
								display: flex;
								justify-content: space-between;
								gap: 8px;

								.elem {
									flex: 1;
									height: 24px;
									display: flex;
									align-items: center;
									justify-content: center;
									cursor: pointer;
									position: relative;

									span {
										color: @grayC;
									}

									&.rainbow {
										padding-bottom: 4px;
										height: 28px;
									}

									&.rainbow::after {
										content: '';
										position: absolute;
										bottom: 0;
										left: 0;
										width: 100%;
										height: 4px;
										background: linear-gradient(to right,	/* 1 ─ ARCANE (pink) */
										var(--color-element-arcane) 
										0 
										calc((100% - 8px) / 5), @blackD 
										calc((100% - 8px) / 5) 
										calc((100% - 8px) / 5 + 2px),	/* 2 ─ FIRE (red) */
										var(--color-element-fire) 
										calc((100% - 8px) / 5 + 2px)
										calc(((100% - 8px) / 5) * 2 + 2px), @blackD
										calc(((100% - 8px) / 5) * 2 + 2px)
										calc(((100% - 8px) / 5) * 2 + 4px),	/* 3 ─ HOLY (yellow) */
										var(--color-element-holy)
										calc(((100% - 8px) / 5) * 2 + 4px)
										calc(((100% - 8px) / 5) * 3 + 4px), @blackD
										calc(((100% - 8px) / 5) * 3 + 4px)
										calc(((100% - 8px) / 5) * 3 + 6px),	/* 4 ─ POISON (green/teal) */
										var(--color-element-poison)
										calc(((100% - 8px) / 5) * 3 + 6px)
										calc(((100% - 8px) / 5) * 4 + 6px), @blackD
										calc(((100% - 8px) / 5) * 4 + 6px)
										calc(((100% - 8px) / 5) * 4 + 8px),	/* 5 ─ FROST (blue) */
										var(--color-element-frost)
										calc(((100% - 8px) / 5) * 4 + 8px)
										100%);
									}

								}

							}

						}

						.stat {
							filter: drop-shadow(0px -2px 0px @blackD)
							drop-shadow(0px 2px 0px @blackD)
							drop-shadow(2px 0px 0px @blackD)
							drop-shadow(-2px 0px 0px @blackD);
							-moz-filter: drop-shadow(0px -2px 0px @blackD)
							drop-shadow(0px 2px 0px @blackD)
							drop-shadow(2px 0px 0px @blackD)
							drop-shadow(-2px 0px 0px @blackD);

							&.blueText > font:nth-child(1) {
								color: @blueB;
							}

							&.empty {
								height: 8px;
							}

							&.gold > font:nth-child(1) {
								color: @yellowB;
							}

						}

					}

					.quick {
						display: flex;
						justify-content: center;
						gap: 8px;
					}

				}

			}

		}

		.runes {
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: 8px;
			background-color: @blackD;
			border-top: none;
			width: 100%;
		}

		.itemList {
			display: none;
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			background-color: fade(@blackD, 95%);
			padding: 0px;
			z-index: 2;
			overflow-y: auto;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			text-align: center;

			.inner {
				border: 5px solid @blackB;

				> .heading {
					color: @blueA;
					width: 100%;
					height: 36px;
					background-color: @blackB;
					display: flex;
					justify-content: center;
					align-items: center;

					.heading-text {
						margin-top: -4px;
					}

				}

				.grid {
					background-color: @blackC;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					width: 560px;
					background-color: @blackD;

					.slot {
						float: left;

						.icon {
							position: relative;

							&.eq {
								&:before {
									content: 'eq';
									left: -2px;
									bottom: -3px;
									position: absolute;
									color: @white;
									filter: drop-shadow(0px -2px 0px @blackD) 
									drop-shadow(0px 2px 0px @blackD)
									drop-shadow(2px 0px 0px @blackD) 
									drop-shadow(-2px 0px 0px @blackD);
									-moz-filter: drop-shadow(0px -2px 0px @blackD) 
									drop-shadow(0px 2px 0px @blackD)
									drop-shadow(2px 0px 0px @blackD) 
									drop-shadow(-2px 0px 0px @blackD);
								}

							}

							&.new {
								&:before {
									content: 'new';
									left: -2px;
									bottom: -3px;
									position: absolute;
									color: @white;
									filter: drop-shadow(0px -2px 0px @blackD) 
									drop-shadow(0px 2px 0px @blackD)
									drop-shadow(2px 0px 0px @blackD) 
									drop-shadow(-2px 0px 0px @blackD);
									-moz-filter: drop-shadow(0px -2px 0px @blackD) 
									drop-shadow(0px 2px 0px @blackD)
									drop-shadow(2px 0px 0px @blackD) 
									drop-shadow(-2px 0px 0px @blackD);
								}

							}

						}

					}

					.slot:nth-child(7) {
						margin-bottom: 5px;

						&:after {
							position: absolute;
							right: 0px;
							bottom: -5px;
							content: '';
							width: 700%;
							height: 5px;
							background-color: @blackC;
							pointer-events: none;
						}

					}

				}

			}

		}

	}

	.left,
	.right,
	.itemList,
	.runes,
	.tools,
	.quick {
		.slot {
			width: 80px;
			height: 80px;
			background-color: @blackD;
			cursor: pointer;
			padding: 8px;
			position: relative;

			&.show-default-icon {
				.icon {
					opacity: 0.5;
					background-image: url('/images/uiIcons.png') !important;
				}

				&[slot="head"] 		.icon {
					background-position: -0px -448px;
				}

				&[slot="neck"] 		.icon {
					background-position: -64px -448px;
				}

				&[slot="chest"] 	.icon {
					background-position: -128px -448px;
				}

				&[slot="hands"] 	.icon {
					background-position: -192px -448px;
				}

				&[slot="finger-1"] 	.icon {
					background-position: -256px -448px;
				}

				&[slot="finger-2"] 	.icon {
					background-position: -256px -448px;
				}

				&[slot="waist"] 	.icon {
					background-position: -320px -448px;
				}

				&[slot="legs"] 		.icon {
					background-position: -384px -448px;
				}

				&[slot="feet"] 		.icon {
					background-position: -448px -448px;
				}

				&[slot="trinket"] 	.icon {
					background-position: -448px -384px;
				}

				&[slot="oneHanded"] .icon {
					background-position: -384px -384px;
				}

				&[slot="offHand"] 	.icon {
					background-position: -192px -384px;
				}

				&[slot="tool"] 		.icon {
					background-position: -256px -384px;
				}

				&[slot^="rune"] 	.icon {
					background-position: -320px -384px;
				}

				&[slot^="quick-0"] 	.icon {
					background-position: -128px -384px;
				}

			}

			&:not(.show-default-icon) {
				&.faded {
					opacity: 0.25;
				}

			}

			.icon {
				height: 100%;
			}

			.info {
				left: 6px;
				bottom: 3px;
				position: absolute;
				color: @white;
				filter: drop-shadow(0px -2px 0px @blackD) 
				drop-shadow(0px 2px 0px @blackD)
				drop-shadow(2px 0px 0px @blackD) 
				drop-shadow(-2px 0px 0px @blackD);
				-moz-filter: drop-shadow(0px -2px 0px @blackD) 
				drop-shadow(0px 2px 0px @blackD)
				drop-shadow(2px 0px 0px @blackD) 
				drop-shadow(-2px 0px 0px @blackD);
			}

			&:hover {
				.icon {
					filter: brightness(160%);
					-moz-filter: brightness(160%);
				}

				&.empty {
					background-color: fade(@blueA, 10%);
				}

			}

		}

	}

}

.mobile .uiEquipment {
	width: 100%;
	height: 100%;
	left: 0px !important;
	top: 0px !important;
	box-shadow: unset;

	.content {
		.tabs {
			width: 100%;
			padding: 0px;
			display: flex;

			.tab {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 1;
				width: unset;
				margin-right: 0px;
			}

		}

		.main {
			padding: 0px;
			flex: 1;
			overflow: hidden;

			.top {
				height: 100%;

				.left,
				.right {
					gap: 0px;
					flex-wrap: wrap;
					justify-content: center;

					> * {
					}

					&.right {
						flex-wrap: wrap-reverse;
					}

				}

				.middle {
					position: relative;

					.quick {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						width: calc(100% - 10px);
						justify-content: space-between;
					}

				}

			}

		}

	}

}
