<div class="uiEquipment hasBorderShadow">
	<div class="heading">
		<div class="heading-text">hero</div>
	</div>
	<div class="content">
		<div class="tabs">
			<div class="tab selected">Basic</div>
			<div class="tab">Offensive</div>
			<div class="tab">Defensive</div>
			<div class="tab">Other</div>
		</div>
		<div class="main">
			<div class="top">
				<div class="left">
					<div class="slot" slot="head" slotName="Head" tooltip="Equip items designed for the 'Head' slot here.">
						<div class="icon"></div>
						<div class="info"></div>
					</div>
					<div class="slot" slot="neck" slotName="Neck" tooltip="Equip items designed for the 'Neck' slot here.">
						<div class="icon"></div>
						<div class="info"></div>
					</div>
					<div class="slot" slot="chest" slotName="Chest" tooltip="Equip items designed for the 'Chest' slot here.">
						<div class="icon"></div>
						<div class="info"></div>
					</div>
					<div class="slot" slot="hands" slotName="Hands" tooltip="Equip items designed for the 'Hands' slot here.">
						<div class="icon"></div>
						<div class="info"></div>
					</div>
					<div class="slot" slot="finger-1" slotName="Finger 1" tooltip="Equip items designed for the 'Finger' slot here.">
						<div class="icon"></div>
						<div class="info"></div>
					</div>
					<div class="slot" slot="finger-2" slotName="Finger 2" tooltip="Equip items designed for the 'Finger' slot here.">
						<div class="icon"></div>
						<div class="info"></div>
					</div>
				</div>
				<div class="middle">
					<div class="stats">
						
					</div>
					<div class="quick">
						<div class="slot" slot="quick-0" slotName="Quick" tooltip="Assign a mount or other usable item here quick use.">
							<div class="icon"></div>
							<div class="info"></div>
						</div>
						<div class="slot" slot="tool" slotName="Tool" tooltip="Equip a fishing rod here.">
							<div class="icon"></div>
							<div class="info"></div>
						</div>
					</div>
				</div>
				
				<div class="right">
					<div class="slot" slot="waist" slotName="Waist" tooltip="Equip items designed for the 'Waist' slot here.">
						<div class="icon"></div>
						<div class="info"></div>
					</div>
					<div class="slot" slot="legs" slotName="Legs" tooltip="Equip items designed for the 'Legs' slot here.">
						<div class="icon"></div>
						<div class="info"></div>
					</div>
					<div class="slot" slot="feet" slotName="Feet" tooltip="Equip items designed for the 'Feet' slot here.">
						<div class="icon"></div>
						<div class="info"></div>
					</div>
					<div class="slot" slot="trinket" slotName="Trinket" tooltip="Equip trinkets or special accessories here.">
						<div class="icon"></div>
						<div class="info"></div>
					</div>
					<div class="slot" slot="oneHanded" slotName="One- or Two-handed" tooltip="Equip a one- or two-handed weapon here.">
						<div class="icon"></div>
						<div class="info"></div>
					</div>
					<div class="slot" slot="offHand" slotName="Off-Hand" tooltip="Equip an off-hand item or shield here.">
						<div class="icon"></div>
						<div class="info"></div>
					</div>
				</div>
			</div>
			<div class="runes">
				<div class="slot" slot="rune-1" slotName="Rune 1" tooltip="Socket a rune in this slot.">
					<div class="icon"></div>
					<div class="info"></div>
				</div>
				<div class="slot" slot="rune-2" slotName="Rune 2" tooltip="Socket a rune in this slot.">
					<div class="icon"></div>
					<div class="info"></div>
				</div>
				<div class="slot" slot="rune-3" slotName="Rune 3" tooltip="Socket a rune in this slot.">
					<div class="icon"></div>
					<div class="info"></div>
				</div>
				<div class="slot" slot="rune-4" slotName="Rune 4" tooltip="Socket a rune in this slot.">
					<div class="icon"></div>
					<div class="info"></div>
				</div>
			</div>
		</div>
		<div class="itemList">
			<div class="inner">
				<div class="heading">
					<div class="heading-text">Choose an item to equip</div>
				</div>
				<div class="grid"></div></div>
			</div>
		</div>
	</div>
</div>