<div class="uiMainMenu hasBorderShadow">
	<div class="heading">
		<div class="heading-text">Menu</div>
	</div>
	<div class="options">
		<div style="order: -10000;" class="btn btnOptions btn-brown">Options</div>
		<div style="order: 0;" class="btn btnPatreon gapAbove">Pledge on Patreon</div>
		<div style="order: 9998;" class="btn btnCharSelect gapAbove">Character Select</div>
		<div style="order: 9999;" class="btn btnLogOut">Log Out</div>
		<div style="order: 10000;" class="btn btnReturn btn-brown gapAbove">Return to Game</div>
	</div>
</div>
